{
  "log": {
    "_recordingName": "projectKeyToProjectIdNonExtantProject",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "0f4c03a34a04f6d4639c14345f7bca34",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/project/PROJECTNAMEBAD"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 86,
            "text": "{\"errorMessages\":[\"No project could be found with key 'PROJECTNAMEBAD'.\"],\"errors\":{}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "0e56a7671fc3c602"
            },
            {
              "name": "x-arequestid",
              "value": "7536c657-ffa4-41db-bb5c-f7724ede4a53"
            },
            {
              "name": "x-aaccountid",
              "value": "61da048e7aa7ac0070657b4f"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 134,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
