{
  "log": {
    "_recordingName": "fetchServerInfo",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "8fb5303f1d15108f4f4d0ae9c1cae051",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/serverInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 350,
            "text": "{\"baseUrl\":\"https://jupiterone-dev.atlassian.net\",\"version\":\"1001.0.0-SNAPSHOT\",\"versionNumbers\":[1001,0,0],\"deploymentType\":\"Cloud\",\"buildNumber\":100187,\"buildDate\":\"2022-01-05T08:01:29.000-0500\",\"serverTime\":\"2022-01-08T22:30:14.980-0500\",\"scmInfo\":\"07b4f58ec2724461528057c7cbdf73a2f653f223\",\"serverTitle\":\"Jira\",\"defaultLocale\":{\"locale\":\"en_US\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "7f2b977caeb3c99d"
            },
            {
              "name": "x-arequestid",
              "value": "be4def26-05bd-409e-bbaf-9d786ff8a5e1"
            },
            {
              "name": "x-aaccountid",
              "value": "61da048e7aa7ac0070657b4f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 185,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
