{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "fcb39558027591fda747659b388b5b10",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://kei-institute.atlassian.net/rest/api/3/serverInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 349,
            "text": "{\"baseUrl\":\"https://kei-institute.atlassian.net\",\"version\":\"1001.0.0-SNAPSHOT\",\"versionNumbers\":[1001,0,0],\"deploymentType\":\"Cloud\",\"buildNumber\":100166,\"buildDate\":\"2021-06-10T03:13:30.000+0000\",\"serverTime\":\"2021-06-14T20:19:14.157+0000\",\"scmInfo\":\"25236ce79962be8318e1a6a5f3f69e67dc4acd1f\",\"serverTitle\":\"Jira\",\"defaultLocale\":{\"locale\":\"en_US\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "bb4030ebf6ebc768"
            },
            {
              "name": "x-arequestid",
              "value": "5dff381b-22c8-495f-8354-8b6e06981ee1"
            },
            {
              "name": "x-aaccountid",
              "value": "5e779055ea2da70c2d23614b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 443,
      },
      {
        "_id": "d60b503bb06fc058ae6edfc0727c3b04",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://kei-institute.atlassian.net/rest/api/3/project"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 840,
            "text": "[{\"expand\":\"description,lead,issueTypes,url,projectKeys,permissions,insight\",\"self\":\"https://kei-institute.atlassian.net/rest/api/3/project/10000\",\"id\":\"10000\",\"key\":\"TPN\",\"name\":\"Test Project Ninja\",\"avatarUrls\":{\"48x48\":\"https://kei-institute.atlassian.net/secure/projectavatar?pid=10000&avatarId=10406\",\"24x24\":\"https://kei-institute.atlassian.net/secure/projectavatar?size=small&s=small&pid=10000&avatarId=10406\",\"16x16\":\"https://kei-institute.atlassian.net/secure/projectavatar?size=xsmall&s=xsmall&pid=10000&avatarId=10406\",\"32x32\":\"https://kei-institute.atlassian.net/secure/projectavatar?size=medium&s=medium&pid=10000&avatarId=10406\"},\"projectTypeKey\":\"software\",\"simplified\":true,\"style\":\"next-gen\",\"isPrivate\":false,\"properties\":{},\"entityId\":\"323560da-9735-4228-917f-83ccc3538a69\",\"uuid\":\"323560da-9735-4228-917f-83ccc3538a69\"}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "373be8910d3847c6"
            },
            {
              "name": "x-arequestid",
              "value": "7d1c4801-ae46-49ae-80b9-9d86bed5fb7a"
            },
            {
              "name": "x-aaccount[...]
