{
  "log": {
    "_recordingName": "iterateIssuesMissingProject",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "1a46e7522bf988b163c5c2d9302e60eb",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jql\":\"project='key' AND updated>=100000\",\"startAt\":0,\"maxResults\":100}"
          },
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 98,
            "text": "{\"errorMessages\":[\"The value 'key' does not exist for the field 'project'.\"],\"warningMessages\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "c9ee60f8dca9e561"
            },
            {
              "name": "x-arequestid",
              "value": "4eb961f6-7f27-474f-a90f-9e10d06ebb27"
            },
            {
              "name": "x-aaccountid",
              "value": "61da048e7aa7ac0070657b4f"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 324,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
