{
  "log": {
    "_recordingName": "fetchUsersPage",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "7c39b5577f6811c69c3e8373b061c9d8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startAt",
              "value": "0"
            },
            {
              "name": "maxResults",
              "value": "100"
            }
          ],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/users?startAt=0&maxResults=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 11408,
            "text": "[{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/user?accountId=61da02389ee70a00689d09a5\",\"accountId\":\"61da02389ee70a00689d09a5\",\"accountType\":\"atlassian\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\",\"24x24\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\",\"16x16\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\",\"32x32\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\"},\"displayName\":\"Adam Williams\",\"active\":true,\"locale\":\"en_US\"},{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/user?accountId=557058:f58131cb-b67d-43c7-b30d-6b58d40bd077\",\"accountId\":\"557058:f58131cb-b67d-43c7-b30d-6b58d40bd077\",\"accountType\":\"app\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png\",\"24x24\":\"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=ht[...]
