{
  "log": {
    "_recordingName": "fetchIssuesPage",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "1d6a3476abc1aa02c3cd6eac3c2a0767",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jql\":\"project='JJI'\"}"
          },
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 5630,
            "text": "{\"expand\":\"names,schema\",\"startAt\":0,\"maxResults\":50,\"total\":1,\"issues\":[{\"expand\":\"operations,versionedRepresentations,editmeta,changelog,customfield_10010.requestTypePractice,renderedFields\",\"id\":\"10000\",\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issue/10000\",\"key\":\"JJI-1\",\"fields\":{\"statuscategorychangedate\":\"2022-01-08T16:35:21.132-0500\",\"issuetype\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issuetype/10006\",\"id\":\"10006\",\"description\":\"Functionality or a feature expressed as a user goal.\",\"iconUrl\":\"https://jupiterone-dev.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10315?size=medium\",\"name\":\"Story\",\"subtask\":false,\"avatarId\":10315,\"hierarchyLevel\":0},\"timespent\":null,\"project\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/project/10001\",\"id\":\"10001\",\"key\":\"JJI\",\"name\":\"Jira J1 Integration\",\"projectTypeKey\":\"software\",\"simplified\":false,\"avatarUrls\":{\"48x48\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10421\",\"24x24\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10421?size=small\",\"16x16\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10421?size=xsmall\",\"32x32\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10421?size=medium\"}},\"fixVersions\":[],\"aggregatetimespent\":null,\"resolution\":null,\"customfield_10028\":null,\"resolutiondate\":null,\"workratio\":-1,\"lastViewed\":null,\"watches\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issue/JJI-1/watchers\",\"watchCount\":1,\"isWatching\":false},\"created\":\"2022-01-08T16:35:20.446-0500\",\"customfield_10020\":null,\"customfield_10021\":null,\"customfield_10022\":null,\"priority\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/priority/3\",\"iconUrl\":\"https://jupiterone-dev.atlassian.net/images/icons/priorities/medium.svg\",\"name\":\"Medium\",\"id\":\"3\"},\"customfield_10023\":null,\"customfield_10024\":null,\"customfield_10025\":null,\"labels\":[],\"customfield_10016\":null,\"customfield_10017\":null,\"customfield_10018\":{\"hasEpicLinkFieldDependency\":false,\"showField\":false,\"nonEditableReason\":{\"reason\":\"PLUGIN_LICENSE_ERROR\",\"message\":\"The Parent Link is only available to Jira Premium users.\"}},\"customfield_10019\":\"0|hzzzzz:\",\"aggregatetimeoriginalestimate\":null,\"timeestimate\":null,\"versions\":[],\"issuelinks\":[],\"assignee\":null,\"updated\":\"2022-01-08T16:35:20.446-0500\",\"status\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/status/10000\",\"description\":\"\",\"iconUrl\":\"https://jupiterone-dev.atlassian.net/\",\"name\":\"To Do\",\"id\":\"10000\",\"statusCategory\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/statuscategory/2\",\"id\":2,\"key\":\"new\",\"colorName\":\"blue-gray\",\"name\":\"To Do\"}},\"components\":[],\"timeoriginalestimate\":null,\"description\":{\"version\":1,\"type\":\"doc\",\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"We need a Jira Cloud account for testing graph-jira.\"}]}]},\"customfield_10010\":null,\"customfield_10014\":null,\"customfield_10015\":null,\"customfield_10005\":null,\"customfield_10006\":null,\"customfield_10007\":null,\"security\":null,\"customfield_10008\":null,\"customfield_10009\":null,\"aggregatetimeestimate\":null,\"summary\":\"Set up Jira Cloud for integration development\",\"creator\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/user?accountId=61da02389ee70a00689d09a5\",\"accountId\":\"61da02389ee70a00689d09a5\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\",\"24x24\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\",\"16x16\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\",\"32x32\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\"},\"displayName\":\"Adam Williams\",\"active\":true,\"timeZone\":\"America/New_York\",\"accountType\":\"atlassian\"},\"subtasks\":[],\"reporter\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/user?accountId=61da02389ee70a00689d09a5\",\"accountId\":\"61da02389ee70a00689d09a5\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\",\"24x24\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\",\"16x16\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\",\"32x32\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\"},\"displayName\":\"Adam Williams\",\"active\":true,\"timeZone\":\"America/New_York\",\"accountType\":\"atlassian\"},\"customfield_10000\":\"{}\",\"aggregateprogress\":{\"progress\":0,\"total\":0},\"customfield_10001\":null,\"customfield_10002\":null,\"customfield_10003\":null,\"customfield_10004\":null,\"environment\":null,\"duedate\":null,\"progress\":{\"progress\":0,\"total\":0},\"votes\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issue/JJI-1/votes\",\"votes\":0,\"hasVoted\":false}}}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "da44d72605b0f200"
            },
            {
              "name": "x-arequestid",
              "value": "ac5eee0f-980a-4b9c-a560-4aec552a5261"
            },
            {
              "name": "x-aaccountid",
              "value": "61da048e7aa7ac0070657b4f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 281,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
