{
  "log": {
    "_recordingName": "allIssuesIngested",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "be2556e1d42ab118d66bd9f20bcb41f1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jql\":\"project='JJI'\",\"startAt\":0,\"maxResults\":100}"
          },
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 28241,
            "text": "{\"expand\":\"schema,names\",\"startAt\":0,\"maxResults\":100,\"total\":5,\"issues\":[{\"expand\":\"operations,versionedRepresentations,editmeta,changelog,customfield_10010.requestTypePractice,renderedFields\",\"id\":\"10020\",\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issue/10020\",\"key\":\"JJI-5\",\"fields\":{\"statuscategorychangedate\":\"2022-01-15T21:23:41.634-0500\",\"issuetype\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issuetype/10002\",\"id\":\"10002\",\"description\":\"A small, distinct piece of work.\",\"iconUrl\":\"https://jupiterone-dev.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium\",\"name\":\"Task\",\"subtask\":false,\"avatarId\":10318,\"hierarchyLevel\":0},\"timespent\":null,\"customfield_10030\":null,\"customfield_10031\":null,\"project\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/project/10001\",\"id\":\"10001\",\"key\":\"JJI\",\"name\":\"Jira J1 Integration\",\"projectTypeKey\":\"software\",\"simplified\":false,\"avatarUrls\":{\"48x48\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10421\",\"24x24\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10421?size=small\",\"16x16\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10421?size=xsmall\",\"32x32\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10421?size=medium\"}},\"customfield_10032\":null,\"fixVersions\":[],\"aggregatetimespent\":null,\"resolution\":null,\"customfield_10029\":null,\"resolutiondate\":null,\"workratio\":-1,\"watches\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issue/JJI-5/watchers\",\"watchCount\":1,\"isWatching\":true},\"lastViewed\":null,\"created\":\"2022-01-15T21:23:41.324-0500\",\"customfield_10020\":null,\"customfield_10021\":null,\"customfield_10022\":null,\"priority\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/priority/3\",\"iconUrl\":\"https://jupiterone-dev.atlassian.net/images/icons/priorities/medium.svg\",\"name\":\"Medium\",\"id\":\"3\"},\"customfield_10023\":null,\"customfield_10024\":null,\"customfield_10025\":null,\"labels\":[],\"customfield_10016\":null,\"customfield_10017\":null,\"customfield_10018\":{\"hasEpicLinkFieldDependency\":false,\"showField\":false,\"nonEditableReason\":{\"reason\":\"PLUGIN_LICENSE_ERROR\",\"message\":\"The Parent Link is only available to Jira Premium users.\"}},\"customfield_10019\":\"0|i0004f:\",\"aggregatetimeoriginalestimate\":null,\"timeestimate\":null,\"versions\":[],\"issuelinks\":[],\"assignee\":null,\"updated\":\"2022-01-15T21:23:41.324-0500\",\"status\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/status/10000\",\"description\":\"\",\"iconUrl\":\"https://jupiterone-dev.atlassian.net/\",\"name\":\"To Do\",\"id\":\"10000\",\"statusCategory\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/statuscategory/2\",\"id\":2,\"key\":\"new\",\"colorName\":\"blue-gray\",\"name\":\"To Do\"}},\"components\":[],\"timeoriginalestimate\":null,\"description\":{\"version\":1,\"type\":\"doc\",\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"An issue created by the integration deployment project to test the CREATE_ENTITY action.\"}]}]},\"customfield_10010\":null,\"customfield_10014\":null,\"customfield_10015\":null,\"customfield_10005\":null,\"customfield_10006\":null,\"customfield_10007\":null,\"security\":null,\"customfield_10008\":null,\"aggregatetimeestimate\":null,\"customfield_10009\":null,\"summary\":\"Test creating an issue\",\"creator\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/user?accountId=61da048e7aa7ac0070657b4f\",\"accountId\":\"61da048e7aa7ac0070657b4f\",\"emailAddress\":\"development@jupiterone.dev\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"24x24\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"16x16\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"32x32\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\"},\"displayName\":\"jupiterone-dev\",\"active\":true,\"timeZone\":\"America/New_York\",\"accountType\":\"atlassian\"},\"subtasks\":[],\"reporter\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/user?accountId=61da048e7aa7ac0070657b4f\",\"accountId\":\"61da048e7aa7ac0070657b4f\",\"emailAddress\":\"development@jupiterone.dev\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"24x24\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"16x16\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"32x32\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\"},\"displayName\":\"jupiterone-dev\",\"active\":true,\"timeZone\":\"America/New_York\",\"accountType\":\"atlassian\"},\"aggregateprogress\":{\"progress\":0,\"total\":0},\"customfield_10001\":null,\"customfield_10002\":null,\"customfield_10003\":null,\"customfield_10004\":null,\"environment\":null,\"duedate\":null,\"progress\":{\"progress\":0,\"total\":0},\"votes\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issue/JJI-5/votes\",\"votes\":0,\"hasVoted\":false}}},{\"expand\":\"operations,versionedRepresentations,editmeta,changelog,customfield_10010.requestTypePractice,renderedFields\",\"id\":\"10019\",\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issue/10019\",\"key\":\"JJI-4\",\"fields\":{\"statuscategorychangedate\":\"2022-01-15T21:23:40.644-0500\",\"issuetype\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issuetype/10002\",\"id\":\"10002\",\"description\":\"A small, distinct piece of work.\",\"iconUrl\":\"https://j[...]
