{
  "log": {
    "_recordingName": "detectVersion3",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "8fb5303f1d15108f4f4d0ae9c1cae051",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/serverInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 519,
            "text": "{\"baseUrl\":\"https://jupiterone-dev.atlassian.net\",\"version\":\"1001.0.0-SNAPSHOT\",\"versionNumbers\":[1001,0,0],\"deploymentType\":\"Cloud\",\"buildNumber\":100187,\"buildDate\":\"2022-01-05T08:01:29.000-0500\",\"scmInfo\":\"07b4f58ec2724461528057c7cbdf73a2f653f223\",\"serverTitle\":\"Jira\",\"defaultLocale\":{\"locale\":\"en_US\"}}"
          },
            {
              "expires": "2022-01-09T03:31:14.000Z",
              "name": "jsd.portal.language.anonymous",
              "path": "/",
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "de4d949145976f57"
            },
            {
              "name": "x-arequestid",
              "value": "a8e8b2b9-0890-4a6f-a539-d41f11497bab"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 171,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
