{
  "log": {
    "_recordingName": "fetchIssuesPageNonExtantProject",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "1d6a3476abc1aa02c3cd6eac3c2a0767",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jql\":\"project='NotExistedProject'\"}"
          },
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 112,
            "text": "{\"errorMessages\":[\"The value 'NotExistedProject' does not exist for the field 'project'.\"],\"warningMessages\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "74d4d21e44a99ea4"
            },
            {
              "name": "x-arequestid",
              "value": "a55d8e79-bb8d-4229-ab2f-99d3ca38d805"
            },
            {
              "name": "x-aaccountid",
              "value": "61da048e7aa7ac0070657b4f"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 281,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
