{
  "log": {
    "_recordingName": "validateInvocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "8fb5303f1d15108f4f4d0ae9c1cae051",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/serverInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 519,
            "text": "{\"baseUrl\":\"https://jupiterone-dev.atlassian.net\",\"version\":\"1001.0.0-SNAPSHOT\",\"versionNumbers\":[1001,0,0],\"deploymentType\":\"Cloud\",\"buildNumber\":100187,\"buildDate\":\"2022-01-05T08:01:29.000-0500\",\"scmInfo\":\"07b4f58ec2724461528057c7cbdf73a2f653f223\",\"serverTitle\":\"Jira\",\"defaultLocale\":{\"locale\":\"en_US\"}}"
          },
            {
              "expires": "2022-01-09T03:31:15.000Z",
              "name": "jsd.portal.language.anonymous",
              "path": "/",
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "c56c7c47952e8c23"
            },
            {
              "name": "x-arequestid",
              "value": "cd8839f5-e6a3-4b67-bef2-73164162ceca"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 118,
      },
      {
        "_id": "f3ec0ea4a3e70be4d55bc53819723ab7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/myself"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1103,
            "text": "{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/user?accountId=61da048e7aa7ac0070657b4f\",\"accountId\":\"61da048e7aa7ac0070657b4f\",\"emailAddress\":\"development@jupiterone.dev\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"24x24\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"16x16\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"32x32\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\"},\"displayName\":\"jupiterone-dev\",\"active\":true,\"timeZone\":\"America/New_York\",\"locale\":\"en_US\",\"groups\":{\"size\":1,\"items\":[]},\"applicationRoles\":{\"size\":1,\"items\":[]},\"expand\":\"groups,applicationRoles\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "319baa1ad39982fd"
            },
            {
              "name": "x-arequestid",
              "value": "9028d7fe-494d-4473-aa9d-1ef01b0f2497"
            },
            {
              "name": "x-aaccountid",
              "value": "61da048e7aa7ac0070657b4f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 142,
      },
      {
        "_id": "82f78595ed6c7d1778a4f5e320c6a011",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/project"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1535,
            "text": "[{\"expand\":\"description,lead,issueTypes,url,projectKeys,permissions,insight\",\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/project/10000\",\"id\":\"10000\",\"key\":\"BUG\",\"name\":\"BUG\",\"avatarUrls\":{\"48x48\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10419\",\"24x24\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10419?size=small\",\"16x16\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10419?size=xsmall\",\"32x32\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10419?size=medium\"},\"projectTypeKey\":\"software\",\"simplified\":false,\"style\":\"classic\",\"isPrivate\":false,\"properties\":{}},{\"expand\":\"description,lead,issueTypes,url,projectKeys,permissions,insight\",\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/project/10001\",\"id\":\"10001\",\"key\":\"JJI\",\"name\":\"Jira J1 Integration\",\"avatarUrls\":{\"48x48\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10421\",\"24x24\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10421?size=small\",\"16x16\":\"https://jupitero[...]
