{
  "log": {
    "_recordingName": "projectKeyToProjectId",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "0c2c67604f12ab3970fdafe0ec2deaa9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/project/BUG"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 4012,
            "text": "{\"expand\":\"description,lead,issueTypes,url,projectKeys,permissions,insight\",\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/project/10000\",\"id\":\"10000\",\"key\":\"BUG\",\"description\":\"\",\"lead\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/user?accountId=61da02389ee70a00689d09a5\",\"accountId\":\"61da02389ee70a00689d09a5\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\",\"24x24\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\",\"16x16\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\",\"32x32\":\"https://secure.gravatar.com/avatar/4dd3d93932935d3d45e0e690e85c3aba?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAW-0.png\"},\"displayName\":\"Adam Williams\",\"active\":true},\"components\":[],\"issueTypes\":[{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issuetype/10001\",\"id\":\"10001\",\"description\":\"An improvement or enhancement to an existing feature or task.\",\"iconUrl\":\"https://jupiterone-dev.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10310?size=medium\",\"name\":\"Improvement\",\"subtask\":false,\"avatarId\":10310,\"hierarchyLevel\":0},{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issuetype/10002\",\"id\":\"10002\",\"description\":\"A small, distinct piece of work.\",\"iconUrl\":\"https://jupiterone-dev.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium\",\"name\":\"Task\",\"subtask\":false,\"avatarId\":10318,\"hierarchyLevel\":0},{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issuetype/10003\",\"id\":\"10003\",\"description\":\"A small piece of work that's part[...]
