{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "1a46e7522bf988b163c5c2d9302e60eb",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jql\":\"project='key' AND updated>=100000\",\"startAt\":0}"
          },
          "queryString": [],
          "url": "https://kei-institute.atlassian.net/rest/api/3/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 98,
            "text": "{\"errorMessages\":[\"The value 'key' does not exist for the field 'project'.\"],\"warningMessages\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "f00e9d9dd8fef5c9"
            },
            {
              "name": "x-arequestid",
              "value": "990c45c9-ffb9-4897-b2f9-35a624a1ac60"
            },
            {
              "name": "x-aaccountid",
              "value": "5fa964870b4e3a006bfada9f"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 277,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
