{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "badf8ae410eb19c0064633ae26528814",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jql\":\"project='key' AND updated>=100000\",\"startAt\":0,\"maxResults\":100}"
          },
          "queryString": [],
          "url": "https://kei-institute.atlassian.net/rest/api/3/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 98,
            "text": "{\"errorMessages\":[\"The value 'key' does not exist for the field 'project'.\"],\"warningMessages\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "16638066ae0dc6b0"
            },
            {
              "name": "x-arequestid",
              "value": "594acf76-efc7-453a-8ef3-a5183c4ce70d"
            },
            {
              "name": "x-aaccountid",
              "value": "5e779055ea2da70c2d23614b"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 779,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
