{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b63afb6d928f7457bf95df9aad535d41",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jql\":\"project='key' AND updated>=100000\",\"startAt\":0}"
          },
          "queryString": [],
          "url": "https://jupiterone.atlassian.net/rest/api/3/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 98,
            "text": "{\"errorMessages\":[\"The value 'key' does not exist for the field 'project'.\"],\"warningMessages\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "365e893aa7cb4cd7"
            },
            {
              "name": "x-arequestid",
              "value": "86a735e7-f33c-4292-bc3a-3ad2729ec811"
            },
            {
              "name": "x-aaccountid",
              "value": "5fa964870b4e3a006bfada9f"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 275,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
