{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "8fb5303f1d15108f4f4d0ae9c1cae051",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/serverInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 350,
            "text": "{\"baseUrl\":\"https://jupiterone-dev.atlassian.net\",\"version\":\"1001.0.0-SNAPSHOT\",\"versionNumbers\":[1001,0,0],\"deploymentType\":\"Cloud\",\"buildNumber\":100187,\"buildDate\":\"2022-01-05T08:01:29.000-0500\",\"serverTime\":\"2022-01-08T22:30:14.974-0500\",\"scmInfo\":\"07b4f58ec2724461528057c7cbdf73a2f653f223\",\"serverTitle\":\"Jira\",\"defaultLocale\":{\"locale\":\"en_US\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "71c9951da54ad0da"
            },
            {
              "name": "x-arequestid",
              "value": "c8d0733e-4817-408d-af60-79a4213353b4"
            },
            {
              "name": "x-aaccountid",
              "value": "61da048e7aa7ac0070657b4f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 289,
      },
      {
        "_id": "82f78595ed6c7d1778a4f5e320c6a011",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/project"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1535,
            "text": "[{\"expand\":\"description,lead,issueTypes,url,projectKeys,permissions,insight\",\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/project/10000\",\"id\":\"10000\",\"key\":\"BUG\",\"name\":\"BUG\",\"avatarUrls\":{\"48x48\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10419\",\"24x24\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10419?size=small\",\"16x16\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10419?size=xsmall\",\"32x32\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10419?size=medium\"},\"projectTypeKey\":\"software\",\"simplified\":false,\"style\":\"classic\",\"isPrivate\":false,\"properties\":{}},{\"expand\":\"description,lead,issueTypes,url,projectKeys,permissions,insight\",\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/project/10001\",\"id\":\"10001\",\"key\":\"JJI\",\"name\":\"Jira J1 Integration\",\"avatarUrls\":{\"48x48\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10421\",\"24x24\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10421?size=small\",\"16x16\":\"https://jupitero[...]
