{
  "log": {
    "_recordingName": "addNewIssue",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "17a533bb918ba5b0eceb6da2761cda2a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"fields\":{\"summary\":\"Test Issue\",\"project\":{\"id\":10000},\"issuetype\":{\"name\":\"Task\"}}}"
          },
          "queryString": [],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/issue"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 98,
            "text": "{\"id\":\"10010\",\"key\":\"BUG-10\",\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issue/10010\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "9a234dc4238d925e"
            },
            {
              "name": "x-arequestid",
              "value": "99dba841-be5d-4214-ba25-9cd82243d12e"
            },
            {
              "name": "x-aaccountid",
              "value": "61da048e7aa7ac0070657b4f"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 815,
      },
      {
        "_id": "d092fafab71a0c692f76b9111dba9581",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "expand",
              "value": ""
            },
            {
              "name": "fields",
              "value": "*all"
            },
            {
              "name": "properties",
              "value": "*all"
            },
            {
              "name": "fieldsByKeys",
              "value": "false"
            }
          ],
          "url": "https://jupiterone-dev.atlassian.net/rest/api/3/issue/10010?expand=&fields=%2Aall&properties=%2Aall&fieldsByKeys=false"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 5730,
            "text": "{\"expand\":\"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations,customfield_10010.requestTypePractice\",\"id\":\"10010\",\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issue/10010\",\"key\":\"BUG-10\",\"properties\":{},\"fields\":{\"statuscategorychangedate\":\"2022-01-08T23:02:29.858-0500\",\"issuetype\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issuetype/10002\",\"id\":\"10002\",\"description\":\"A small, distinct piece of work.\",\"iconUrl\":\"https://jupiterone-dev.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium\",\"name\":\"Task\",\"subtask\":false,\"avatarId\":10318,\"hierarchyLevel\":0},\"timespent\":null,\"project\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/project/10000\",\"id\":\"10000\",\"key\":\"BUG\",\"name\":\"BUG\",\"projectTypeKey\":\"software\",\"simplified\":false,\"avatarUrls\":{\"48x48\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10419\",\"24x24\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10419?size=small\",\"16x16\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10419?size=xsmall\",\"32x32\":\"https://jupiterone-dev.atlassian.net/rest/api/3/universal_avatar/view/type/project/avatar/10419?size=medium\"}},\"fixVersions\":[],\"aggregatetimespent\":null,\"resolution\":null,\"resolutiondate\":null,\"workratio\":-1,\"issuerestriction\":{\"issuerestrictions\":{},\"shouldDisplay\":false},\"watches\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issue/BUG-10/watchers\",\"watchCount\":1,\"isWatching\":true},\"lastViewed\":null,\"created\":\"2022-01-08T23:02:29.431-0500\",\"customfield_10020\":null,\"customfield_10021\":null,\"customfield_10022\":null,\"customfield_10023\":null,\"priority\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/priority/3\",\"iconUrl\":\"https://jupiterone-dev.atlassian.net/images/icons/priorities/medium.svg\",\"name\":\"Medium\",\"id\":\"3\"},\"customfield_10024\":null,\"customfield_10025\":null,\"labels\":[],\"customfield_10016\":null,\"customfield_10017\":null,\"customfield_10018\":{\"hasEpicLinkFieldDependency\":false,\"showField\":false,\"nonEditableReason\":{\"reason\":\"PLUGIN_LICENSE_ERROR\",\"message\":\"The Parent Link is only available to Jira Premium users.\"}},\"customfield_10019\":\"0|i00027:\",\"aggregatetimeoriginalestimate\":null,\"timeestimate\":null,\"versions\":[],\"issuelinks\":[],\"assignee\":null,\"updated\":\"2022-01-08T23:02:29.431-0500\",\"status\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/status/10000\",\"description\":\"\",\"iconUrl\":\"https://jupiterone-dev.atlassian.net/\",\"name\":\"To Do\",\"id\":\"10000\",\"statusCategory\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/statuscategory/2\",\"id\":2,\"key\":\"new\",\"colorName\":\"blue-gray\",\"name\":\"To Do\"}},\"components\":[],\"timeoriginalestimate\":null,\"description\":null,\"customfield_10010\":null,\"customfield_10014\":null,\"timetracking\":{},\"customfield_10015\":null,\"customfield_10005\":null,\"customfield_10006\":null,\"security\":null,\"customfield_10007\":null,\"customfield_10008\":null,\"attachment\":[],\"aggregatetimeestimate\":null,\"customfield_10009\":null,\"summary\":\"Test Issue\",\"creator\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/user?accountId=61da048e7aa7ac0070657b4f\",\"accountId\":\"61da048e7aa7ac0070657b4f\",\"emailAddress\":\"development@jupiterone.dev\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"24x24\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"16x16\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"32x32\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\"},\"displayName\":\"jupiterone-dev\",\"active\":true,\"timeZone\":\"America/New_York\",\"accountType\":\"atlassian\"},\"subtasks\":[],\"reporter\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/user?accountId=61da048e7aa7ac0070657b4f\",\"accountId\":\"61da048e7aa7ac0070657b4f\",\"emailAddress\":\"development@jupiterone.dev\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"24x24\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"16x16\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\",\"32x32\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FJ-1.png\"},\"displayName\":\"jupiterone-dev\",\"active\":true,\"timeZone\":\"America/New_York\",\"accountType\":\"atlassian\"},\"customfield_10000\":\"{}\",\"aggregateprogress\":{\"progress\":0,\"total\":0},\"customfield_10001\":null,\"customfield_10002\":null,\"customfield_10003\":null,\"customfield_10004\":null,\"environment\":null,\"duedate\":null,\"progress\":{\"progress\":0,\"total\":0},\"comment\":{\"comments\":[],\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issue/10010/comment\",\"maxResults\":0,\"total\":0,\"startAt\":0},\"votes\":{\"self\":\"https://jupiterone-dev.atlassian.net/rest/api/3/issue/BUG-10/votes\",\"votes\":0,\"hasVoted\":false},\"worklog\":{\"startAt\":0,\"maxResults\":20,\"total\":0,\"worklogs\":[]}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "cd2db9b56b09a22c"
            },
            {
              "name": "x-arequestid",
              "value": "fa753d87-0d71-4fc3-b242-bc7912cd3099"
            },
            {
              "name": "x-aaccountid",
              "value": "61da048e7aa7ac0070657b4f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 264,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
